<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EasySite</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" type="image/png" href="../assets/img/logo.png">
    </head>
    <body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="../index.html" class="navBarItem">🌍 <strong>EasySite</strong></a>
                </li>
                <li>
                    <a href="download.html" class="navBarItem">Télécharger</a>
                </li>
                <li>
                    <a href="home-documentation.html" class="navBarItem">Documentation</a>
                </li>
                <li>
                    <a href="support.html" class="navBarItem">Support</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Bienvenue sur le futur du Web</h2>
        <h3>Commencez dés aujourd'hui !</h3>
        <p>Développez votre premier site Web et apprenez les bases plus facilement grâce à EasySite !</p>
        <a href="https://github.com/enioaiello/easysite/releases/latest" target="_blank" class="button" title="Télécharger maintenant">Télécharger</a>
        <p id="subtitle">Gratuit, depuis Github</p>
    </main>
    <footer>
        <h3>© Enio Aiello</h3>
    </footer>
    </body>
</html>
