<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EasySite</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" type="image/png" href="../assets/img/logo.png">
    </head>
    <body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="../index.html" class="navBarItem">🌍 <strong>EasySite</strong></a>
                </li>
                <li>
                    <a href="download.html"class="navBarItem">Télécharger</a>
                </li>
                <li>
                    <a href="home-documentation.html" class="navBarItem">Documentation</a>
                </li>
                <li>
                    <a href="support.html" class="navBarItem">Support</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Contactez le support</h2>
        <h3>Besoins d'aide ? Nous sommes là pour vous !</h3>
        <hr>
        <div id="homeCenter">
            <section>
                <h2>Obtenir de l'aide via Discord</h2>
                <a href="https://discord.gg/h5y2bZwH2B" target="_blank" class="button" title="Accéder au serveur Discord officiel">Contacter</a>
            </section>
        </div>
    </main>
<footer>
    <h3>© Enio Aiello</h3>
</footer>
</body>
</html>
